body, #profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile {
    padding: 10px;
    border: solid 2px;
    border-radius: 5%;
}

#profilePic {
    width: 250px;
}

span {
    font-size: 15px;
}